*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
li:hover ul a{
    background-color: #2c3e50 #18bc9c ;    
    color: black;
}
.clearfix::after{
content: "";
display: block;
clear: both;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-right: .5rem;
    padding-left: .5rem;
}
/*navbar*/
nav{
    background-color: #2c3e50;
    color: #fff;
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
   
}
#logo-box{
    float: left;
}
#logo-box .logo{
    color: #fff;
    font-weight: 700;
    font-size: 3.2rem;
}
#nav-login{
    float: right;
}
#nav-login .nav-item{
    float: left;
    margin: .4rem;
}
#nav-login .nav-link{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding: 1.6rem;
    letter-spacing: .1rem;
    transition: color .3s;
}
#nav-login .nav-link:hover{
    color: #18bc9c;
}
#nav-secim{
    float: left;
}
#nav-secim .nav-item{
    float: left;
    margin: .4rem;
}
#nav-secim .nav-link{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding: 1.6rem;
    letter-spacing: .1rem;
    transition: color .3s;
}
#nav-secim .nav-link1{
    color: gray;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding: 1.6rem;
    letter-spacing: .1rem;
    transition: color .3s;
}
#nav-secim .nav-link:hover{
    color: #18bc9c;
}
#nav-secim .nav-link1:hover{
    color: #18bc9c;
}
.container-1{
    background-color: #5083b6;
    color: #fff;
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
    padding-left: 5rem;
}
#nav-links .nav-item{
    float: left;
    margin: .4rem;
}
#nav-links .nav-item a{
    background-color: #2c5050;
}  
#nav-links .nav-item a{
    background-color: rgb(238, 151, 22);
}
#nav-links .nav-item a:hover{
    background-color: #18bc9c;
}
#nav-links .nav-link{
    color: #fff;
    font-size: 1.9rem;
    font-weight: 1000;
    display: block;
    padding: 1.6rem;
    letter-spacing: .1rem;
    transition: color .3s;
    border: #2c3e50 solid 1px;
}

#nav-links .nav-link:hover{
    color: #080808;
    background-color: #18bc9c;
}
li:hover ul a:hover{

    background: #18bc9c;
    color: #fff;

}
li ul li{
    display: block;
    float: none;
}
li ul li a{
    min-width: 100px;
    padding: 0 20px;
}
li ul{
    display: none;
}

ul li a:hover + .hidden,.hidden:hover{
    display: block;
}
.container-2{
    height: 280px;
    background-color: #77b7f7;
}
.kutu{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 20px;
    padding: 20px;
    background-color: #fff;
    float: left;
    position: relative;
}
.kutu2{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 20px;
    padding: 20px;
    background-color: #fff;
    float: left;
    position: relative;
}
.left{
    float: left;
}
.left h4{
    color: #180bd3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
    
}
.left p{
    color: #6a6792;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.btn{ 
    border: .1rem solid #6a6792;
    background-color: #032a52;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2rem;
    padding: 1rem;
    position: absolute;
    bottom: .5rem;
}
.right p{
    color: #eb0808;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
    float: right;
    position: absolute;
    bottom: .1rem;
    right: .5rem;
}
.right p img{
    width: 100px;
    height: 100px;
}
.container-3{
    height: 600px;
    background-color: #5b6977;
}
.text{
    height: 70px;
    font-size: 3rem;
    text-align: center;
}
.phone-container{
    height: 430px;
    background-color: #5b6977;
}
.box{
    margin: 2rem;
    padding: 1rem;
    background-color: #eb0808;
    height: 420px;
}
.phone-box{
    border: 1px solid black;
    float: left;
    width: 25%;
    height: 400px;
    background-color: #fff;
    margin:auto;
    padding: 5px;
}
.phone{
    height: 60%;
}
.text1{
    height: 20%;
}
.btn1{
    height: 20%;
}
.text1 p{
    text-align: center;
}
.btn1{
    text-align: center;
    margin-top: 2rem;
}
.btn1 a{ 
    border: 1px solid black;
    background-color: red;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 2rem;
    padding: 1rem;
}
.btn1 a:hover{
    background-color: #18bc9c;
    color: #080808;
}
.cihaz{
    border: 1px solid black;
    background-color: #263635;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    border-radius: 2rem;
    padding: 1rem;
    margin-top: .2rem;
    cursor: pointer;
    display: block;
    color: #fff;
}   
.cihaz:hover{
    background-color: #18bc9c;
    color: #080808;
}

